name: Write results file

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        env:
          HUSKY_SKIP_INSTALL: 1
        run: pnpm install --frozen-lockfile
      - run: pnpm run results
      - name: Configure Git User
        run: |
          git config --global user.name '@homer0'
          git config --global user.email 'homer0@users.noreply.github.com'
      - name: Commit results
        run: |
          git add RESULTS.md
          git commit -m "publish: update results [skip ci]"
      - name: Push results
        uses: ad-m/github-push-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
